/*  <---------FONTS--------->
    Montserrat
    https://bestfonts.pro/font/montserrat
    @import 'fonts-include/_montserrat.scss';

    
*/


@import 'fonts-include/_montserrat.scss';
@import 'fonts-include/_poppins.scss';
@import 'fonts-include/_opensans.scss';

$black-text: #2D2D2D;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    //sizes
    width: 100%;
    min-height: 100%;
}

/* BEGIN: Common styles*/
body{
    //display
    display: flex;    
    //sizes
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: #F5F7F9;


    font-family: $font-poppins;
}


.content{
    display: flex;
    
    justify-content: center;
    width: 100%;
    padding: 33px 50px 0 265px;

    @media (max-width: 1380px){
        padding: 33px 30px 0 30px;
    }

    @media (max-width: 1120px){
        padding: 33px 20px 0 20px;
    }

    @media (max-width: 460px){
        overflow-x: hidden;
    }
}


.main__inner{
    max-width: 1120px;
    width: 100%;
}

.section{
    //display
    display: flex;

    //sizes
    width: 100%;

    
}
.section__inner{
    //display
    display: flex;
    flex-direction: column;
    
    //sizes
    width: 100%;
    max-width: 1280px;
    
    //padding
    padding: 50px 0;

    //margin
    margin: 0; 
}


.page-title{
    font-family: $font-poppins;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    color: $black-text;

    @media (max-width: 640px){
        text-align: center;
        width: 100%;
        margin-left: -26px;
        font-size: 30px;
    }
}

.page-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
    @media (max-width: 640px){
        padding-bottom: 100px;
    }
}

.page-content_main{
    @media (max-width: 1120px){
        padding-top: 50px;
        justify-content: space-evenly;
    }

    @media (max-width: 900px){
        flex-direction: column;
    }
    
}
.page-content_other{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
}


.page-row{
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    width: 100%;

    &:not(:first-of-type){
        margin-top: 25px;
    }
}
.portfolio-row{
    @media (max-width: 960px){
        flex-wrap: wrap;
    }
    
}
/* END: Common styles*/

/*BEGIN: sidebar*/

.sidebar{
    width: 200px;
    
    background-color: #fff;
    border-radius: 0 30px 30px 0px;
    position: fixed;
    padding: 14vh 15px 0;
    height: 100vh;
    min-height: 640px;
    
    @media (max-width: 1380px){
        position: fixed;
        transform: translateX(-100%);
        z-index: 999;
        transition: .5s;
    }
    @media (max-height: 680px){
        min-height: 680px;
    }
}



.sidebar_show-mob{
    
    @media (max-width: 1380px){
        
        transform: translateX(0);
    }
}


.mobile-hot-key{

    display: none;


    background-color: #fff;
    height: 60px;
    border-radius: 24px 24px 0 0;
    position: fixed;
    bottom: 0px;
    z-index: 555;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0px -3px 11px 0px #888;

    
    justify-content: center;
    

    @media (max-width: 640px){
        display: flex;
    }
}

.mobile-hot-key__link{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;



    
    path {
        fill: #6a6a6a;
    }
}
.mobile-hot-key__link_current{
    path{
        fill: #2D2D2D;
    }
    
}

.modal-fog{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(41, 41, 41);
    z-index: 888;
    opacity: 0;
    transition: .5;
}

.modal-fog_show{
    display: block;
    opacity: .7;
}

.hide-sidebar-btn{
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: .5s;
    @media (max-width: 1380px){
        display: flex;

        border: 2px solid rgb(80, 71, 131);
    }

    &:hover{
        border: 2px solid rgba(80, 71, 131, .9);
        .hide-sidebar-line_small{
            background-color: rgba(80, 71, 131, .9);
        }        
        .hide-sidebar-line_long{
            background-color: rgba(80, 71, 131, .9);
        }
    }
}
.hide-sidebar-line_small{
    position: absolute;
    width: 40%;
    height: 3px;
    border-radius: 50px;
    background-color: rgb(80, 71, 131);
    transition: .5s;
    &:nth-child(1){
        transform: rotate(330deg);
        top: 12px;
        left: 5px;
    }
    &:nth-child(2){
        transform: rotate(210deg);
        top: 18px;
        left: 5px;
    }
}
.hide-sidebar-line_long{
    position: absolute;
    width: 70%;
    height: 3px;
    border-radius: 50px;
    background-color: rgb(80, 71, 131);
    transition: .5s;
}

.sidebar__inner{

}

.sidebar__nav{
    padding: 9vh 0 16vh;

    @media (max-height: 775px) {
        padding: 9vh 0;
    }
}


.menu{
    list-style: none;
}


.menu__item{
    
    border-radius: 12px;

    transition: .3s background;
    &:hover{
        background-color: #E9EAEC;
    }
}



.menu__icon-wrap{
    margin-right: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__link{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: $font-poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 8px 13px 16px;
    color: $black-text;

}

.menu__item_active{
    background: #F5F7F9;

    .menu__link-text{
        font-weight: bold;
    }
}

.logo{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

}

.logo__img{

}

.logo__text{
    font-family: $font-opensans;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $black-text;
}


.visual-regime-wrap{
    display: flex;
    justify-content: center;
}
.visual-regime{
    width: 64px;
    height: 36px;
    background: rgba(45, 45, 45, 0.85);
    border: 2px solid rgba(45, 45, 45, 0.85);
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: 1s;
}

.visual-regime__round{
    width: 32px;
    height: 32px;
    background: #F7F7FC;
    
    border-radius: 50%;
    position: absolute;
    right: 0px;
    transition: left 0.5s,  right 0.5s,  background 1s;
    
}

.visual-regime_dark{

    background-color: #F7F7FC;
    
    .visual-regime__round{
        
        right: 28px;
        background: rgba(45, 45, 45, 0.85);
        
    }
    

}

/*END: sidebar*/

/*BEGIN: header*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px 0;

    @media (max-width:1380px){
        padding: 0 0 50px 80px;
        position: relative;
        z-index: 777;
    }

}


.hamburger{
    width: 52px;
    height: 52px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    cursor: pointer;
    @media (max-width: 1380px) {
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    
}

.hamburger__line{
    width: 80%;
    height: 4px;
    border-radius: 25px;
    background-color: rgb(80, 71, 131);
    position: absolute;
    

    &:nth-child(1){
        top: 12px;
    }
    &:nth-child(2){
        
    }
    &:nth-child(3){
        bottom: 12px;
    }
}

.userbar{
    display: flex;

    @media (max-width: 640px){
        display: none;
    }
}

.userbar__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    &:not(:first-of-type){
        margin-left: 25px;
    }


    transition: .3s background;
    &:hover{
        background-color: #f4f4f4;
    }
}
/*END: header*/


/* BEGIN: Main page*/
    .mpage-1st-col{
        /*width: 33.33%;*/
        
        width: 375px;
        /*
        flex-grow: 1;
        flex-shrink: 5;
        
        @media (max-width: 1600px){
            width: 40%;
        }
        @media (max-width: 1500px){
            width: 33%;
        }
        */
        @media (max-width: 900px){
            order: 2;
            width: 100%;
            padding-bottom: 30px;
        }
    }
    .mpage-2st-col{
        
        width: 445px;
        margin: 0 20px;

        @media (max-width: 900px){
            order: 1;
            margin-bottom: 30px;
            width: 100%;
            margin: 0  0 20px 0;
        }
    }

    
/*END: Main page*/

.popular-wallets{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;

    padding: 15px 0 13px;
    border-bottom: 1px solid #F1F1F5;
}

.popular-wallets__name{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;

    color: #12121F;
}

.popular-wallets__category{
    font-family: $font-poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;

    color: #AFAFBD;
}

.popular-wallets__index{
    display: flex;
    align-items: center;
}

.popular-wallets__chart{
    display: flex;
    align-items: flex-end;
}


.popular-wallets__index-value{
    padding-right: 6px;  
    
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;

    color: #12121F;


}
.up-trand{
    transform: rotate(0deg);
    path{
        fill: #B993D6 !important;

    }
    
}

.down-trand{
    transform: rotate(180deg);
    path{
        
        fill: #FE7C6F !important;
    }
}


.small-chart{
    width: 90px;
    height: 32px;
}

.page-card{
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;

    &:not(:first-of-type){
        margin-top: 25px;
    }

    @media (max-width: 460px){
        padding: 25px;
    }
}
.page-card_slim{
    padding: 7.5px 20px;
    border-radius: 20px;
    .page-card__header{
        align-items: center;
    }
    @media (max-width: 460px){
        padding: 7.5px 20px;
    }
}
.page-card_small{
    padding: 10px 32px;
    flex-direction: row;
}


.page-card__header{
    display: flex;
    justify-content: space-between;
}


.page-card__title{
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.25px;
    color: #12121F;
}
.page-card__body{
    
}

.statistic{
    
}

.statistic__data{
    display: flex;
    align-items: center;
}

.statistic__value{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.25px;
    color: #12121F;
    padding-right: 10px;
}

.statistic__percent-value{
    
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-right: 3px;
    
}
.statistic__percent{
    display: flex;
    align-items: center;
}
.statistic_trand-down{
    color: #FE7C6F;
    transform: rotate(180deg);
    path{
        fill: #FE7C6F;

    }
}

.statistic_trand-up{
    color: #B993D6;
    .statistic__percent-trand{

        

        path{
            fill: #B993D6;
    
        }
    }
    
}

.statistic__incriment{
    font-family: $font-poppins;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #AFAFBD;
    padding-top: 5px;
}


.square-label{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-label_orange{
    background-color: #FE7C6F;
}

.square-label_violet{
    background-color: rgba($color: #3600FF, $alpha: 0.1)
}

.time-filter{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 7.5px;
    border: 1px solid transparent;
    transition: .5s;
    border-radius: 10px;
    &:hover{
        border: 1px solid #999;
    }
}

.filter-col{
    @media (max-width: 1120px){
        display: none;
    }
    
}

.filter-mob{
    min-width: 50px;
    height: 50px;
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 160px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    cursor: pointer;
    
    margin-left: 10px;
    @media (max-width: 1120px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.filter{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 7.5px;
    transition: .5s;
    border-radius: 10px;
}

.filter__btn{
    font-family: $font-montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #585858;
    margin-right: 5px;
}
.filter__arrow{
    transform: rotate(270deg);
}

.time-filter__current-value{
    font-family: $font-montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #585858;
    margin-right: 5px;

}
.sm-text-block{
    padding-left: 25px;
}
.sm-text-block__title{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.25px;

    color: #12121F;
}
.sm-text-block__time-text{
    padding-left: 3px;

    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #AFAFBD;
}

.sm-text-block__time-block{
    display: flex;
    align-items: center;
    padding-top: 7px;
}

.payment-wrap{
    
    border-radius: 24px 24px 0 0;
}

.payment-card{
    width: 100%;
    max-width: 375px;
    height: 240px;
    background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
    border-radius: 30px;

    padding: 35px 30px 30px;

    position: relative;
}

.payment-card__nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.payment-card__nav_prev{
    left: -25px;

    @media (max-width: 460px){
        left: -15px;
    }
    img{
        transform: rotate(180deg);
    }
}
.payment-card__nav_next{
    right: -25px;

    @media (max-width: 460px){
        right: -15px;
    }
}

.payment-card__wrap{
    display: flex;
    justify-content: center;

    margin-top: -100px;
}
.payment-card__card-logo{
    text-align: right;
}
.payment-card__number{
    display: flex;
    width: 100%;
    justify-content: space-between;


    font-family: $font-poppins;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.0878em;
    color: #FFFFFF;
    text-shadow: 0px 0.701049px 3px rgba(77, 5, 169, 0.3);
    padding: 25px 0 40px;

}

.payment-card__deepinfo{   
    display: flex;
    justify-content: space-between;                                
    font-family: $font-poppins;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0.701049px 3px rgba(77, 5, 169, 0.3);
    
}

.card-info{
    
    display: flex;
    justify-content: center;
    
}

.card-info__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 375px;
    padding: 15px 0px 0 20px;
}
.card-info__summ{
    display: flex;
}

.card-info__summ-value{
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #14142B;
}
.card-info__summ-incriment{
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 34px;

    letter-spacing: 0.75px;
    color: #00BA88;
    padding-left: 10px;
}

.card-info__period{
    font-family: $font-poppins;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.75px;
    color: #6E7191;

}
.card-info__btn{
    display: flex;
    width: 120px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border: 2px solid #D6D8E7;
    box-sizing: border-box;
    border-radius: 40px;
    text-decoration: none;
    font-family: $font-poppins;

    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #2D2D2D;

    transition: .5s;

    &:hover{
        background-color: rgba($color: #D6D8E7, $alpha: 0.7);
    }

}
.page-card_app{
    position: relative;

    @media (max-width: 900px){
        display: none;
    }
}


.app-block{
    width: 180px;
    padding: 30px 0 30px 0px;
    
}

.app-block__title{
    font-family: $font-poppins;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1px;

    color: #14142B;
}

.app-block__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-55%) translateX(-22%);
    
}


.app-block__text{
    padding: 25px 0;

    font-family: $font-poppins;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #14142B;
}

.app-block__download{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 42px;
    border: 2px solid #D6D8E7;
    box-sizing: border-box;
    border-radius: 40px;

    text-decoration: none;

    font-family: $font-poppins;
    font-weight: 600;
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 0.75px;

    color: #5F2EEA;

    transition: .5s;

    &:hover{
        background-color: rgba($color: #D6D8E7, $alpha: 0.7);
    }

}

/* 3-яя колонка главной страницы*/


.mpage-3st-col{
    width: 17.8%;
    width: 200px;

    @media (max-width: 1120px) {
        display: none;
    }

}


.mpage-offer{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 15px;
    &:not(:first-of-type){
        margin-top: 30px;
    }

    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mpage-offer__title{
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;

    color: #2D2D2D;
    margin-top: -10px;
}

/* КОНЕЦ: 3-яя колонка главной страницы*/

.pages-1st-col{
    width: 18.65%;
    min-width: 230px;
    /*background-color: indianred;*/
}
.pages-2st-col{
    width: 41.2%;
    min-width: 510px;


    flex-grow: 1;
    margin: 0 20px;
    @media (max-width: 960px){
        flex-grow: 0;
        margin: 0 0px;
    }
    /*background-color: orangered;*/
}
.pages-3st-col{
    width: 24.23%;
    min-width: 300px;
    /*background-color: salmon;*/
}

.filters-list{
    
}

.filters-list__item{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    cursor: pointer;
    position: relative;

    
    &:not(:last-of-type){
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            opacity: 0.05;
            border: 1px solid #000000;
            border-radius: 25px;
            bottom: 0;
        }
    }
    
}

.filters-list__name{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.25px;

    color: #12121F;
}

.stock-col{
    @media (max-width: 1120px){
        width: 65%;
    }
    @media (max-width: 960px){
        width: 100%;
        min-width: 100%;
    }
}

/*Begin: search form*/
.search{
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 20px;
    padding: 12.5px 25px;

    @media (max-width: 1120px){
        background-color: transparent;
        padding: 0;
    }
}

.search__icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    @media (max-width: 1120px){
        background-color: #fff;
        min-width: 50px;
        height: 50px;
        justify-content: center;

        box-shadow: 0px 4px 160px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        margin-right: 10px;
    }
}


.search__form{
    flex-grow: 1;

    @media(max-width: 1120px){
        height: 50px;
        background: #fff;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }
}
.search__input{
    width: 100%;
    color: #12121F;
    font-family: $font-poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    letter-spacing: 0.25px;

    border: none;
    outline: none;

    &:focus{
        border: none;
    }
    &::placeholder{
        color: #585858;
    }


    @media (max-width: 1120px){
        padding-right: 30px;
    }

}

.page-card_statistic{
    padding-left: 30px;
    padding-top: 12px;
}
.page-card__title{
    font-size: 16px;
    line-height: 20px;
}


.sv_market{
    font-size: 30px;
    line-height: 37px;
}

.page-card__body_statistic{
    padding-top: 20px;
    padding-bottom: 20px;
}
/*END: search form*/


.s-index{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    margin-top: 25px;

    padding: 10px 30px;
    border-radius: 24px;

    @media (max-width: 640px){
        padding: 10px 15px;
    }
}


.s-index__title-group{
    display: flex;
    align-items: center;
    .company-logo{
        margin-right: 25px;
    }
}

.s-index_portfolio{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}


.s-index__row{
    display: flex;
    width: 100%;
    border-radius: 24px 24px 0 0 ;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    background-color: #fff;
}

.s-index__row_footer{
    border-radius: 0 0 24px 24px;
    justify-content: flex-end;
    padding: 0px 30px 25px;
}

.s-index__percent{
    display: flex;
    padding: 5px;
    border-radius: 10px;
}

.s-index__percent_up-trand{
    background-color: #C8C7F2;

    .s-index__trand-arrow{
        transform: rotate(180deg);
    }
}

.s-index__percent_down-trand{
    background-color: #FFA3A3;

    .s-index__trand-arrow{
        transform: rotate(0deg);
    }
}


.company-logo{
    display: flex;
    align-items: center;
}
.s-index__company-name{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.25px;

    color: #12121F;
}

.s-index__company-trand{
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #AFAFBD;
}


.s-index__percent-value{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #12121F;
    padding-left: 10px;
}

.s-index__percent-value_p{
    font-size: 13px;
    line-height: 13px;
}


.s-index__trand-arrow{
    display: flex;
    align-items: center;
    
}
.s-index__company-value, .s-index__stock-value, .s-index__pt, .s-index__profit{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #12121F;

    
}

.s-index__pt, .s-index__profit{
    font-size: 13px;
    line-height: 13px;
}
.s-index__company-value{
    @media (max-width: 540px){
        display: none;
    }
}
.s-index__risk-block{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    @media (max-width: 540px){
        display: none;
    }
}
.hight-risk{
    background-color: #FF0000;
}

.middle-risk{
    background-color: #FFDE30;
}

.low-risk{
    background-color: #6AC579;
}



.market-3st-col{
    @media (max-width: 960px) {
        display: none;
    }
}

.market-offer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding-bottom: 30px;
}

.market-offer__title{
    font-family: $font-poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    color: #14142B;
    max-width: 184px;
    margin-bottom: 10px;
    
}

.market-offer__btn{
    border: 2px solid #D6D8E7;
    box-sizing: border-box;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 46px;
    text-decoration: none;


    font-family: $font-poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;

    color: #2D2D2D;

    transition: .5s;

    &:hover{
        border-color: #AFAFAF;
    }
}

.portfolio-chart-container{
    width: 100%;
    padding: 0 30px;
    height: 145px;
}

.btn-sell{
    width: 100px;
    height: 25px;
    background: #F5F7F9;
    border-radius: 9px;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: $font-montserrat;

    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #12121F;

    transition: .5s;

    &:hover{
        background-color: #DCDCDC;
    }


}


.portfolio-menu{
    background-color: #fff;
    padding: 12.5px 20px ;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    @media(max-width: 960px){
        height: 50px;
        width: 300px;
        margin-right: 20px;
    }

    @media(max-width: 659px){
        margin-right: 0px;
        margin-bottom: 20px;
        width: 100%;
    }
}

.portfolio-menu__list{
    list-style: none;
    display: flex;
}

.portfolio-menu__item{
    margin: 0 20px;
    transition: .5s;
    border-radius: 12px;
    &:hover{
        background-color: #DCDCDC;
    }
}

.portfolio-menu__link{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #373737;
    text-decoration: none;
    padding: 10px 20px;
    
    
}

.portfolio-menu__item_active{
    
    background: #F5F7F9;
    border-radius: 12px;
    
}

.portfolio-total{
    padding: 16px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border-radius: 12px;

    font-family: $font-poppins;
    font-weight: 600;
    color: #000000;
    @media(max-width: 960px){
        height: 50px;
        margin-top: 0;
        width: 300px;
    }

    @media(max-width: 659px){
        width: 100%;
    }
}

.portfolio-total__title{
    
    font-size: 20px;
    line-height: 24px;
    
}

.portfolio-total__value{
    font-size: 16px;
    line-height: 38px; 
    margin-left: 15px;
}

.portfolio-total__incriment{
    font-size: 10px;
    line-height: 34px; 
    color: #00BA88;
    margin-left: 10px;
}

.portfolio_stock-col{
    @media(max-width: 960px){
        order: 2;   
    }
    
}
.portfolio-3st-col{
    @media(max-width: 960px){
        order: 1;    
        display: flex;
        margin-bottom: 30px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media(max-width: 659px){
        flex-direction: column;
    }
}

.last-page-btn{
    display: flex;
    align-items: center;
    transition: .5s;
    border-radius: 10px;
    padding: 0;

    color: #585858;
    margin-right: 5px;
    line-height: 20px;
    letter-spacing: .25px;
    font-family: $font-montserrat;
    font-size: 16px;
}

.last-page-btn__arrow{
    transform: rotate(90deg);
}
.page-card_link{
    text-decoration: none;
    padding: 15px 20px;
}
.page-card_link-card{
    text-decoration: none;
}
.page-card_link__text{
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.75px;
    text-align: center;
    color: #2D2D2D;
    margin-top: 20px;
}

.page-card_link-card{
    padding-top: 0px;
    padding-bottom: 25px;
}
.asset-footer{
    flex-direction: column;
    padding: 23px 50px 50px;

    border-radius: 0 0 24px 24px;

    @media(max-width: 640px){
        padding: 23px 30px 30px;
    }
}

.asset-title{
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    text-align: left;
    width: 100%;
    color: #000000;
}

.asset-text{
    padding-top: 20px;
    font-family: $font-poppins;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;

    color: #000000;
}

.asset-row{
    padding: 25px 50px;
    justify-content: space-between;

    @media(max-width: 640px){
        padding: 25px 30px;
    }
}

.asset-chart{
    padding: 0px 50px;
    @media(max-width: 640px){
        padding: 0px 30px;
    }
}

.asset-price{
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;

    letter-spacing: 0.75px;

    
    color: #14142B;


}


.statistic-bought{
    border-radius: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-family: $font-montserrat;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #373737;
}

.statistic-bought__count{
    padding-left: 10px;
}

.buy-form{
    padding: 30px 35px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 25px;
}
.buy-form__header{
    position: relative;
    padding-bottom: 20px;

    &::after{
        content: "";
        opacity: 0.05;
        height: 1px;
        width: 193px;
        background-color: #000;
        transform: translateX(-50%);
        position: absolute;
        bottom: 0;
        left: 50%;
    }
}
.buy-form__title{
    font-family: $font-montserrat;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #373737;
}

.buy-form__body{
    padding: 20px 0;

    position: relative;
    
    &::after{
        content: "";
        opacity: 0.05;
        height: 1px;
        width: 193px;
        background-color: #000;
        transform: translateX(-50%);
        position: absolute;
        bottom: 0;
        left: 50%;
    }
}

.buy-form__values{
    
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
    &:not(:first-of-type){
        padding-top: 10px;
    }
}
.buy-form__values_count{
    display: flex;
}
.buy-form__arrow-gr{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buy-form__count{
    margin: 0 4px;
}
.buy-form__btn{
    display: flex;
    width: 10px;
    height: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 3px;
    transition: .5s;

    &:hover{
        border: 1px solid #AFAFAF;
    }
    img{
        width: 5px;
        height: 5px;
    }
}
.buy-form__arrow-minus{
    transform: rotate(180deg);
}

.buy-form__values_count{
    padding-top: 10px;
}

.buy-form__summ{
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* or 120% */
    display: flex;
    align-items: center;

    color: #000000;
}

.buy-form__summ-value, .buy-form__summ-d{

    font-size: 16px;
    line-height: 38px;


    letter-spacing: 0.75px;

    color: #14142B;
    
}

.buy-form__footer{
    padding-top: 10px;
}


.buy-form__summ-value{
    padding-left: 10px;
}
.buy-form__send{
    background: linear-gradient(90deg, #6366D9 0%, #A980F8 100%);
    border-radius: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: $font-poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}

.last-page-btn_mob{
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #fff;
    @media (max-width: 1120px){
        display: flex;
    }
    order: 1;
}

.search__icon_asset{
    @media (max-width: 1120px){
        order: 3;
        margin-right: 0;
    }
    
}

.search__form_asset{
    @media (max-width: 1120px){
        order: 2;
        margin: 0 10px;
    }
}

.pages-3st-col_asset{
    @media (max-width: 960px){
        margin-top: 25px;
    }

    @media (max-width: 640px){
        width: 100%;
    }
}
/*
    USED FONTS

    Poppins:
        300
        400, bold
        500
        700, bold
        600
    Montserrat:
        400, normal
        500
        600
    OpenSans: 
        bold, 700

*/